<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">

<head>
	<title>Error</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
	<th:block th:fragment="content">
	<div class="container">
		<h2 th:text="${'Error ' + #response.status}">Error</h2>
		<p class="alert alert-danger" th:unless="${message}">This should not have happened!</p>
		<p class="alert alert-danger" th:if="${message}" th:text="${message}"></p>
		<div>
			<a class="btn btn-secondary" th:href="@{/}">Back to main page</a>
			<a class="btn btn-secondary" href="javascript:history.back()">Back to previous page</a>
		</div>
	</div>
	</th:block>
</body>